<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      {% if page.title %}
        {{ page.title }} /
      {% endif %}
      Safety First PDX
    </title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="author" content="Safety First PDX" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ site.github.url }}/css/index.css" />

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.github.url }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ site.github.url }}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.github.url }}/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ site.github.url }}/manifest.json">
    <link rel="mask-icon" href="{{ site.github.url }}/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <script src="https://use.fontawesome.com/07e901def8.js"></script>
  </head>

  <body>
    {% include header.html %}
    <div class="page-title">
      <h2>
        {% if page.title %}
          {{ page.title | upcase }}
        {% elsif page.tagline %}
          {{ page.tagline }}
        {% endif %}
      </h2>
    </div>
    <div class="content">
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
